<!DOCTYPE HTML>

<html ng-app="marvelSearch">
	<head>
		<title>Marvel Characters</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script>document.write('<base href="' + document.location + '" />');</script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" href="images/favicon.ico"/>

		<script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-semver="1.2.17"></script>
		<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
		<script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script data-require="angular-route@*" data-semver="1.2.16" src="https://code.angularjs.org/1.2.16/angular-route.js"></script>    <script src="app.js"></script>	
	
	</head>
	<body class="is-preload" ng-controller="MainCtrl">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="images/logo-marvel-comics.png" alt="Marvel Image" /></a>
					<h1><strong>Hi! I am Carolina</strong>.<br />
						This is a web application to search for Marvel Characters.<br /><br/>

						Instructions:<br/>

						1. Type of the name in Search field.<br/>
						2. Click on the chosen name.
					</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

			<!-- One -->
			<section id="one">
				<header class="major">
					<h2>Search for your Marvel Characters.</h2>
						<input 
							id="searchField"
							type="text"
							ng-model="asyncSelected"
							placeholder="Search for you character"
							typeahead="characters for characters in getCharacters($viewValue)"
							typeahead-loading="loadingCharacters" 
							typeahead-on-select="selectCharacter($item);asyncSelected=''"
							class="form-control" 
							autofocus
						>
						<i ng-show="loadingCharacters" class="glyphicon glyphicon-refresh"></i>
						<button onclick="clearField()" ng-click="clearField()">Clear</button>
				</header>
			</section>

				<!-- Two -->
			<section id="two" ng-if="showCharInfo">
				<div>
					<div ng-if="char.thumb" class="thumbnail"><img src="{{char.thumb}}"></div>
					<div class="charName"><h1><strong>{{char.name}}</strong></h1></div>
					<div class="charDesc">{{char.desc}}</div>
					</div>

				<div ng-if="showCharInfo">
					<h1>Comic List</h1>
					<table>
						<thead>
						<tr>
							<th>Title</th>
							<th>Cover</th>
						</tr>
						</thead>
			
						<tbody>
						<tr id="tableComics" ng-repeat="char in listComics" on-finish-render="ngRepeatFinished">
						<td>{{char.name}}</td>
						<td><img  id="myImg" src="images/comic-book.png" alt="icon comic book"></td>
						</tr>
					</tbody>
					</table>
					</div>
			</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://github.com/carolsauhi" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="mailto:carol_sauhi@hotmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Marvel</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>	
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
				

	</body>
</html>